.form {

  &__submit {
    margin: 0 auto;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    background: #1964FF;
    width: 50%;
    padding: 20px;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      transition: 0.3s ease all;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__nameInput {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
    margin-top: 20px;
    color: #1964FF;
    font-size: 18px;
  }
}